.main_cont {
    width: 1080px;
    height: 1920px;
    position: relative;
    background-color: #FFFFFF;
}

.cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    position: absolute;
    z-index: 99999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 200px;
    height: 200px;
    border: 20px solid #FFFFFF;
    border-top: 20px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.index_btm {
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen_page{
    position: absolute;
    z-index: 999;
}

.index_btm .txt_zone {
    width: 830px;
    height: 140px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index_btm .img_zone {
    transform: translateY(13%);
}

.main_page{
    position: absolute;
    width: 100%;
    height: 100%;
}

.main_list{
    width:720px;
    height: 1295px;
    margin-left: 200px;
}

.item_list{
    width:720px;
    height: 1095px;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
}

.item{
    width: 195px;
    height:195px;
    overflow: hidden;
    margin-right:45px; 
    margin-top: 15px;
    margin-bottom: 90px;
}

.mid_zone .img_zone{
    width: 100%;
    height: 100%;
    position: relative;
}
.mid_zone .img_zone img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

